*  {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;

  -webkit-tap-highlight-color: transparent;
  text-decoration: none;

}
a:hover {
  color: #535bf2;
}
::-webkit-scrollbar { width: 0; }


body {
  margin: 0;
  background-color: #000000;
  color: rgb(255, 255, 255);
}
.BgBluredIMG {
  position: fixed;
  width: 100%;
}
body {
  background-image: url("./assets/mainbg01.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* 
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 10px;

  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;

}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */


input {
  border-radius: 8px;
  border: #646cff31 solid 1px;
  padding: 10px;
  margin: 10px;
  transition: border-color 0.25s;
}

input:hover {
  border: #646cff solid 1px;

}

.navbar{
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: #000000b7;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
}
.nav_button {
  width: 33%;
  height: 60px;
  text-align: center;
  font-size: 18px;
  font-family: Arial, sans-serif;
  font-weight: 600;
  border-radius: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.nav_button img {
  padding: 8px;
  border-radius: 50px;
  width: 30px;
  background-color: #ffffff00;
  transition: all .33s;
}

.nav_button img:hover {
  /* animation: ButTapBG .5s ease-in-out; */
  background-color: #ffffff23;

}

/* @keyframes ButTapBG {
  0% {
    background-color: #ffffff00;
  }
  50% {
    background-color: #ffffff23;
  }
  100% {
    background-color: #ffffff00;
  }
} */

.annCard {
  padding: 10px;
  background-color: #16161685;
  margin-bottom: 20px;
  border-radius: 20px;
  border: solid 1px #ffffff2f;
  text-align: left;
  font-size: 12px;
  transition: all .3s;
}

.annCard:hover {
  border: solid 1px #ffffff97;
}

.CardId {
  opacity: .33;
  margin-bottom: -3px;
  margin-left: 90%;
}